body{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EFB8B6 600%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EFB8B6 600%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EFB8B6 600%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(6, #EFB8B6));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EFB8B6 600%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #EFB8B6 600%);
}
#wraper{
	margin:auto;
	margin-bottom : 2%;
	width : 95%;
}

article.infomation{
	//display : none;
}
h1{
	line-height : 1em;
}
h2{
	line-height : 0em;
	margin-bottom : 1em;
	color : #00bfff;
}
h3{
	border-bottom : solid 3px #ff1493;
}
h3:before{
	content: url('momo_h3.png');
}
#contents{
	width : 50%;
	height : 100%;
	margin-right : 2%;
	margin-bottom : 3%;
	float : left;
	background : rgba(255,255,255,0.1);
}
#sidebar{
	width:40%;
	float:left;
}

@media screen and (max-width : 700px) {
	
	#wraper{
		width : 97%;
	}
	#sidebar{
		width : 97%;
		clear:both;
	}
	#contents{
		width:100%;
		margin-right:auto;
	}
}
